
@{
    ViewBag.Title = "Products (Angular)";
}
<div class="row">
    <div class="col-xs-12">
        <ptc-app>
            Loading product application...
        </ptc-app>
    </div>
</div>

 

@section scripts {

    
     
    @Scripts.Render("~/bundles/angular_prod")

    @*<script src="/src/systemjs.config.js"></script>
    <script>System.import('/src/main.js').catch(function (err) { console.error(err); });</script>*@

}