@model AngularSrcModel
@{
    ViewBag.Title = "Products (Angular)";
}
<div class="row">
    <div class="col-xs-12">
        <ptc-app>
            Loading product application...
        </ptc-app>
    </div>
</div>



@section scripts {


    @*
        // 11/09/2022 09:01 am - SSN - Replaced with Angular upgrade

        <h4>angular-scripts-20220811-2023-begin</h4>
        @Scripts.Render("~/bundles/angular_prod")
        <h4>angular-scripts-20220811-2023-end</h4>

    *@

    @Html.Raw(Model.TheStartupScripts)


    @*<script src="/src/systemjs.config.js"></script>
        <script>System.import('/src/main.js').catch(function (err) { console.error(err); });</script>*@

}