@{
  // ViewBag.Title = "Paul's Training Company";
}

<h1>Paul's Training Company</h1>

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary" href="/Product/Product" target="_mvc_product">View Product List (MVC)</a>
        <a class="btn btn-primary" href="/Product/Product_ang" target="_ang_product">View Product List (Angular)</a>
    </div>
</div>